<!DOCTYPE html>
  <html>
  <head>
  <title>Harrisburg University</title>
  </head>
  <body> 
  <h1>Harrisburg University</h1>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2></h2>
  <button type="button" class="btn btn-default">Home</button>
  <button type="button" class="btn btn-primary">Admissions</button>
  <button type="button" class="btn btn-success">Technology</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-warning">International Students</button>
  <button type="button" class="btn btn-danger">Downloads</button>
  <button type="button" class="btn btn-link">Policy</button>      
</div>

</body>
</html>



  <p>Raj Assignment 2.</p>
  <p>ISEM 551.</p>
  User name:<br>
  <input type="text" name="Username">
  <br>Password:<br>
<input type="text" name="Password">
 <br>
</br>
<button type="button" onclick="window.location.href='https://myhu.harrisburgu.edu <https://myhu.harrisburgu.edu/> '">Login</button>
 </body>
 <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <div ng-app="">
  <h1>Courses Registered</h1>
<p>Student ID:<br> 
<input type="text" ng-model="name" placeholder="Student ID"></p>
<p>Student Full Name :<br>
<input type="text" ng-model="name" placeholder="Student name here"></p>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>University Email</h2>
  <p>Make the viewport larger than 768px wide to see that all of the form elements are inline, left aligned, and the labels are alongside.</p>
  <form class="form-inline" role="form">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>

  </html>
  <body style="background-color:#006400">
